<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NTAF.PlugInFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NTAF.PlugInFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NTAF.PlugInFramework.Properties.Settings>
            <setting name="Loading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Updating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageDataNodeUnlocked" serializeAs="String">
                <value />
            </setting>
        </NTAF.PlugInFramework.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><applicationSettings>
        <NTAF.PlugInFramework.Properties.Settings>
            <setting name="ImageDataNodeLocked" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageOCCNodeClosed" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageOCCNodeOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageOCNode" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageOrphanCollectorNode" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageOrphanNode" serializeAs="String">
                <value />
            </setting>
        </NTAF.PlugInFramework.Properties.Settings>
    </applicationSettings>
</configuration>
